@import './components/employers-list-item/employers-list-item.scss';
@import './components/employers-list/employers-list.scss';
@import './components/employers-add-form/employers-add-form.scss';
@import './components/app-info/app-info.scss';
@import './components/app-filter/app-filter.scss';
@import './components/search-panel/search-panel.scss';
@import './components/app/app.scss';

body {
	margin: 50px 0;
	font-family: 
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
